# ReaDock

## Tokenization
Protein-ligand complex to paragraph of tokens

In [1]:
!ls ../dat/

PDBbind_core07.txt                  PDBbind_core07.txt_bk               PDBbind_refined07-core07.tokens.csv PDBbind_refined07-core07.txt        PDBbind_refined07-core07.txt_bk

In [2]:
import pandas as pd
import numpy as np

In [3]:
tokens_df = pd.read_csv("../dat/PDBbind_refined07-core07.tokens.csv", index_col=0)

In [4]:
tokens_df.head()

   myid  pKd/pKi                                             tokens
0  1bnq     9.49  HIS TRP GLY TYR GLY LYS HIS ASN GLY PRO GLU HI...
1  1yqj     8.14  HIS MET LEU GLU MET SER GLN GLU ARG PRO THR PH...
2  1bnw     9.08  HIS TRP GLY TYR GLY LYS HIS ASN GLY PRO GLU HI...
3  1bnv     8.77  HIS TRP GLY TYR GLY LYS HIS ASN GLY PRO GLU HI...
4  1bnu     9.70  HIS TRP GLY TYR GLY LYS HIS ASN GLY PRO GLU HI...

In [5]:
tokens_df.tail()

      myid  pKd/pKi                                             tokens
1100  1jn2     4.09  ALA ASP THR ILE VAL ALA VAL GLU LEU ASP THR TY...
1101  1bai     7.70  LEU ALA MET THR MET GLU HIS LYS ASP ARG PRO LE...
1102  1tkb     8.00  GLN PHE THR ASP ILE ASP LYS LEU ALA VAL SER TH...
1103  2izl     6.00  ALA GLU ALA GLY ILE THR GLY THR TRP TYR ASN GL...
1104  1jn4     4.95  LYS GLU THR ALA ALA ALA LYS PHE GLU ARG GLN_O....

In [6]:
!wc -l ../dat/PDBbind_refined07-core07.txt

    1105 ../dat/PDBbind_refined07-core07.txt

In [7]:
assert tokens_df.shape[0] == 1105, "Expected 1105 protein-ligand complexes, but actual number is {}".format(tokens_df.shape[0])

In [8]:
tokens_df['pKd/pKi'].describe()

count    1105.000000
mean        6.392778
std         2.116179
min         0.490000
25%         5.000000
50%         6.370000
75%         7.760000
max        13.000000
Name: pKd/pKi, dtype: float64

### TODO is pDk/pKi the target value?

### Distribution of the tokens

In [9]:
all_tokens = pd.Series(' '.join(tokens_df.tokens).split())

In [10]:
all_tokens.unique().shape

(1324,)

In [11]:
counts = all_tokens.value_counts()

In [12]:
print("The most frequent residue-atom contacts are:")
counts[counts.index.map(len) > 3].head()

The most frequent residue-atom contacts are:

HOH_C.ar_C.ar    687
HOH_C.3          484
HOH_O.3_C.3      458
HOH_C.3_C.3      453
HOH_O.co2_C.2    300
dtype: int64

### TODO How to handle the water molecules?